{% extends 'base/index.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href={% static "css/form_base.css" %}>{% endblock %}
{% block meta %}
	<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block title %}ورود{% endblock %}
{% block content %}
    <section class="book" id="form_auth">
        <div id="form-ui">
            <img id=cover_img src="/static/image/welcom.jpg"
                 alt="">
            <form action="{% url 'user_login_page' %}" method="post" id="form">
                {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next|default:'/' }}">
                <img id="logo_form" src="/static/image/icons/forms.png" alt="">
                <div id="form-body">
                    <div id="welcome-lines">

                        <div id="welcome-line-1">ثبت نام / ورود</div>
                    </div>
                    <div id="input-area">
                        {% for field in form %}
                            <div class="form-inp">
                                <div id="form_label">{{ field.label }}</div>
                                {{ field }}
                                {% for error in field.errors %}
                                    <div class="error-msg">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <div id="submit-button-cvr">
                        <button id="submit-button" type="submit">تایید</button>
                    </div>
                    {% if error %}
                        <div class="error-msg">{{ error }}</div>
                    {% endif %}
                </div>
            </form>
        </div>
    </section>
{% endblock %}