{% extends 'base/index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href={% static "css/informations.css" %}>
    <link rel="stylesheet" href={% static "css/custom_cart.css" %}>{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% load price_filters %}
{% block title %}
    ثبت اطلاعات
{% endblock %}
{% block content %}
    <div id="three-step">
        <div class="step">
            <a href="{% url 'orders:cart_detail_page' %}">
                <div class="circle active">
                    <img id="cart-icon" src="/static/image/icons/cart-page.svg" alt="">
                </div>
            </a>
            <span class="label">سبد خرید</span>
        </div>

        <div class="line-active"></div>

        <div class="step">
            <div class="circle active">
                <img id="cart-icon" src="/static/image/icons/location.svg" alt="">
            </div>
            <span class="label">اطلاعات ارسال</span>
        </div>

        <div class="line"></div>

        <div class="step">
            <div class="circle">
                <img id="cart-icon" src="/static/image/icons/card-pay.svg" alt="">
            </div>
            <span class="label">پرداخت</span>
        </div>
    </div>
    <div class="container-info">
        <div class="cart-summary">
            <div class="cart-summaryy">
                <div id="cart-len">
                    <h4>تعداد کالا های شما</h4>
                    <h3 id="total-items">{{ cart|length }}</h3>
                </div>
            </div>
            <div id="total-org">
                <p>قیمت کل</p>
                <span id="total-org-price">{{ cart.get_total_org_price|format_price }} </span>
            </div>
            {% if cart.get_total_discount %}
                <div id="total-discount-wrapper">
                    <p>سود شما از این خرید</p>
                    <div id="total-discount">{{ cart.get_total_discount|format_price }}</div>
                </div>
            {% endif %}
            <div id="shipping-cost">
                {% if shipping_method == 'tipax' %}
                {% else %}
                    {% if cart.send_free != 0 %}
                        هزینه ارسال 69,000 تومان
                    {% endif %}
                {% endif %}
            </div>

            <div class="total-price">
                <div> مجموع سبد خرید</div>
                <span id="total-price">
        {% if shipping_method == 'tipax' or cart.send_free == 0 %}
            {{ cart.get_total_price|format_price }}
        {% else %}
            {{ cart.get_price_post|format_price }}
        {% endif %}
    </span>
            </div>

        </div>
    <div class="address-list-container mobile">
            {% if addresses %}
                <h3 class="section-title">آدرس‌های ذخیره ‌شده</h3>
                <div class="address-cards">
                    {% for addr in addresses %}
                        <div class="address-card" onclick="fillFormWithAddress(this)"
                             data-first_name="{{ addr.first_name }}"
                             data-last_name="{{ addr.last_name }}"
                             data-province="{{ addr.province }}"
                             data-city="{{ addr.city }}"
                             data-address="{{ addr.address }}"
                             data-postal_code="{{ addr.postal_code }}"
                             data-phone="{{ addr.phone }}">
                            <div class="address-title">{{ addr.first_name }} {{ addr.last_name }}</div>
                            <div class="address-meta">{{ addr.province }}، {{ addr.city }}</div>
                            <div class="address-meta">{{ addr.address }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-wrapper">

            <h2>اطلاعات گیرنده</h2>
            <form id="address-form" method="post" action="{% url 'orders:cart_information_page' %}" novalidate>
                {% csrf_token %}
                <div class="form-grid">
                    <div class="custom-dropdown" id="dropdown-province">
                        <div class="dropdown-selected">انتخاب استان</div>
                        <ul class="dropdown-options"></ul>
                        <input type="hidden" name="province" id="input-province" value="{{ form.province.value }}">
                        <div class="error-msg" id="error-province" style="display: none;"></div>
                    </div>

                    <div class="custom-dropdown disabled" id="dropdown-city">
                        <div class="dropdown-selected">انتخاب شهر</div>
                        <ul class="dropdown-options"></ul>
                        <input type="hidden" name="city" id="input-city" value="{{ form.city.value }}">
                        <div class="error-msg" id="error-city" style="display: none;"></div>
                    </div>

                    {% for field in address_form %}
                        {% if field.name != "province" and field.name != "city" %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="error-msg">{{ field.errors.0 }}</div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="form-actions">
                        <button type="submit" class="submit-btn">ثبت آدرس و مرحله بعد</button>
                    </div>
                </div>
            </form>
            <div class="shipping-methods">

                <label class="shipping-option">
                    <input type="radio" name="shipping_method" value="pishteaz" checked>
                    <div class="info">
                        <div class="method-name">پست پیشتاز <span id="post-pay">
                {% if cart.send_free == 0 %}
                    ارسال شما رایگان است!
                {% else %}
                    هزینه ارسال : 69,000
                {% endif %}</span></div>
                        <div class="method-desc">ارسال به سراسر ایران مدت زمان ارسال 2 تا 7 روز کاری
                        </div>
                    </div>
                </label>

                <label class="shipping-option">
                    <input type="radio" name="shipping_method" value="tipax">
                    <div class="info">
                        <div class="method-name">ارسال سریع با تیپاکس <span id="post-pay">هزینه ارسال حدودا: 130,000 تومان</span>
                        </div>
                        <div class="method-desc">مدت زمان ارسال 1 تا 3 روز کاری <span id="tipax-pay"> ( هزینه  به عهده مشتری میباشد )  </span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="address-list-container desktop">
            {% if addresses %}
                <h3 class="section-title">آدرس‌های ذخیره ‌شده</h3>
                <div class="address-cards">
                    {% for addr in addresses %}
                        <div class="address-card" onclick="fillFormWithAddress(this)"
                             data-first_name="{{ addr.first_name }}"
                             data-last_name="{{ addr.last_name }}"
                             data-province="{{ addr.province }}"
                             data-city="{{ addr.city }}"
                             data-address="{{ addr.address }}"
                             data-postal_code="{{ addr.postal_code }}"
                             data-phone="{{ addr.phone }}">
                            <div class="address-title">{{ addr.first_name }} {{ addr.last_name }}</div>
                            <div class="address-meta">{{ addr.province }}، {{ addr.city }}</div>
                            <div class="address-meta">{{ addr.address }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}<script src={% static "js/informations.js" %}></script>{% endblock %}