#form_auth {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #FFFDEF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='380' height='380' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23E4E480' stroke-width='2'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFDE25'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
}

#cover_img {
    width: 48rem;
    border-radius: 5px;
    border: 1px solid gold;
}

#form-ui {
    display: flex;
    justify-content: center;
    animation: rgbGlow 5s infinite alternate;
}

@keyframes rgbGlow {
    0% {
        box-shadow: 0px 15px 120px #fffbc8;
    }
    25% {
        box-shadow: 0px 15px 70px #ffe37b;
    }
    50% {
        box-shadow: 0px 15px 150px #ffde5c;
    }
    75% {
        box-shadow: 0px 15px 120px #ffd400;
    }
    100% {
        box-shadow: 0px 15px 70px #eecda8;
    }
}

#welcome-lines {
    text-align: center;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#welcome-line-1 {
    color: #000000;
    font-weight: 600;
    font-size: 40px;
}


#form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    place-items: center;
    width: 28rem;
    padding: 25px;
    background-color: rgba(255, 246, 203, 0.51);
    border-radius: 10px;
    border: 1px solid gold;

}

.otp-box img {
    max-width: 100%;
}

#form-body {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#welcome-lines img {
    width: 9rem;
}

#input-area {
    margin-top: 40px;
}

.form-inp {
    border: 1px solid #8d8d8d;
    line-height: 1;
    border-radius: 10px;
}

.form-inp:focus {
    border: 3px solid #ffcc00;
    border-top: none;
}

.form-inp input {
    cursor: pointer;
    width: 100%;
    height: 3rem;
    text-align: center;
    background: none;
    font-size: 1.3rem;
    color: #000000;
    border: none;
}

.form-inp input:focus {
    outline: none;
}

#submit-button-cvr {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#submit-button-cvr h3 {
    margin-top: 20px;
}

#forgot-pass-link {
    font-size: 18px;
    color: #690064;
}

#submit-button {
    width: 100%;
    color: #000000;
    background: linear-gradient(to right, #FFD03A, rgba(255, 212, 0, 0.67));
    border: 2px goldenrod solid;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out .5s;
}

#form_label {
    padding: 9px;
    font-size: 1.1rem;
}

#submit-button:hover {
    background: linear-gradient(to right, #b07800, #ffbf5e);
    color: #ffffff;
    cursor: pointer;
}

.otp-box {
    background: #fff776;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.33), inset 0 0 20px rgb(140, 85, 0);
    text-align: center;
    width: 350px;
    color: #000000;
}

.otp-box h2 {
    margin-bottom: 25px;
    font-size: 28px;
}

.otp-inputs {
    display: flex;
    justify-content: center;
    gap: 15px;
    direction: ltr;
}

.otp-inputs input {
    width: 60px;
    height: 60px;
    font-size: 28px;
    border-radius: 50%;
    text-align: center;
    background: rgba(255, 255, 255, 0.55);
    border: 5px solid rgba(0, 0, 0, 0.52);
    color: #000000;
    transition: 0.5s ease-in-out;
}

.otp-inputs input:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 80px rgb(126, 74, 0);
}

.form-btn {
    display: flex;
    justify-content: space-between;
}

#otp_btn {
    width: 40%;
    color: #000000;
    background: linear-gradient(to right, rgba(255, 209, 101, 0.27), rgba(140, 85, 0, 0.22));
    font-weight: 600;
    font-size: 22px;
    border: 2px solid #cec58f;
    border-radius: 8px;
    cursor: pointer;
    transition: all ease-in-out .5s;
}

#otp_btn:hover {
    background: linear-gradient(to right, #ffe689, #ecb500);
    color: #b08a02;
    cursor: pointer;
}

#timer-box {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

#resend-link {
    color: black;
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

ul.errorlist {
    color: #a90000;
    font-weight: bold;
    list-style: none;
    margin-top: 5px;
    padding: 5px;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.error-msg {
    position: absolute;
    color: #ffffff;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
    background-color: #a80000;
    padding: 6px 10px;
    border-radius: 15px;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.messages {
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #004883;
    color: #fffeff;
    padding: 10px 20px;
    border-radius: 15px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.51);
    transition: opacity 0.5s ease-out;
    opacity: 1;
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
}

/* دکمه "X" برای بستن پیام */
.messages .close-btn {
    background: none;
    border: none;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}

/* استایل پیام‌های مخفی شده */
.messages.hide {
    opacity: 0;
    visibility: hidden;
}

#form-contact {
    display: grid;
    place-items: center;
    max-width: 42rem;
    padding: 25px;
    background-color: rgba(255, 246, 203, 0.51);
    border-radius: 10px;
    border: 1px solid gold;
}

.image-upload-container {
    text-align: center;
    margin-top: 1rem;
}

.image-upload-label {
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px dashed #aaa;
    cursor: pointer;
    transition: border 0.3s ease;
}

#label-input {
    display: flex;
    padding: 5px;
    margin: 5px 10px;
    font-size: 1.1rem;
    font-weight: 600;
}

#submit-button-cvrr {
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

.image-upload-label:hover {
    border-color: #3b82f6;
}

.image-upload-label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

input[type="file"] {
    display: none;
}

#id_text {
    background-color: #daa52070;
    color: black;
    border-radius: 25px;
    padding: 10px;
    font-size: 1.5rem;
    width: 100%;
}

#send-btn {
    width: 100%;
    background: linear-gradient(to right, #9a732a, #a48a33);
    border: 2px goldenrod solid;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border-radius: 8px;
    cursor: pointer;
}

#id_ticket {
    background-color: rgba(184, 134, 11, 0.78);
    color: black;
    font-size: 2rem;
    cursor: pointer;
    align-items: center;
    padding: 10px 35px;
    margin-bottom: 15px;
    border-radius: 15px;
    width: 100%;
}

#id_ticket option {
    font-size: 2rem;
}

#welcome-lines p {
    margin: 10px;
    line-height: 1.9;
    font-size: 1.3rem;
}

/*==========================================================*/
@media (max-width: 1160px) {
    #form {
        width: 100%;
        gap: 20px;
    }
    #form_label{
        font-size: 17px;
    }
    #logo_form{
        width: 300px;
        height: auto;
    }
    #welcome-line-1{
        font-size: 25px;
    }
    #form-body{
        gap: 20px;
    }
    #cover_img{
        display: none;
    }
    #logo_form{
        width: 200px;
    }
    section{
        padding: 20px;
    }
}