{% extends 'base/index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href={% static "css/aboutandcontactus.css" %}>{% endblock %}
{% block title %}
    درباره فروشگاه لباس آتوسا | کیفیت، تنوع و اعتماد
{% endblock %}

{% block meta %}
    <meta name="description"
          content="با فروشگاه لباس آتوسا بیشتر آشنا شوید. تجربه‌ای نو در خرید لباس کودک، زنانه و ست مادر فرزندی با کیفیت بالا، ارسال سریع و پشتیبانی اختصاصی.">
    <meta name="keywords"
          content="درباره فروشگاه لباس, لباس بچه, لباس زنانه, فروشگاه آتوسا, ست مادر و فرزند, خرید لباس آنلاین">
{% endblock %}

{% block og_title %}درباره فروشگاه آتوسا{% endblock %}
{% block og_description %}آشنایی با فروشگاه لباس آتوسا - تخصصی‌ترین فروشگاه لباس کودک و زنانه با خدمات مشتری‌مدار و
    محصولات باکیفیت.{% endblock %}
{% block og_image %}/static/image/about-us.jpg{% endblock %}

{% block twitter_title %}درباره ما | فروشگاه لباس آتوسا{% endblock %}
{% block twitter_description %}با فروشگاه آتوسا بیشتر آشنا شوید؛ کیفیت، پشتیبانی، تنوع بالا و ارسال سریع برای خریدی
    مطمئن.{% endblock %}
{% block twitter_image %}/static/image/about-us.jpg{% endblock %}

{% block content %}
    <div id="about-us-container">
        <img src="/static/image/about-us.jpg" alt="درباره فروشگاه لباس آتوسا">
        <section class="about-section">


            <div class="about-block">
                <div class="about-text">
                    <h2>آشنایی با فروشگاه <strong> آتوسا </strong></h2>
                    <p>
                        آتوسا یک فروشگاه اینترنتی تخصصی در زمینه پوشاک بچگانه است که با عشق به کودکان و سلیقه والدین شکل
                        گرفته.
                        ما مجموعه‌ای از بهترین لباس‌های کودک را از برندهای معتبر ایرانی و اروپایی گلچین کرده‌ایم تا هم
                        شیک و باکیفیت باشند، هم راحت و سلامت‌محور.

                        در فروشگاه آتوسا، تلاش کرده‌ایم تجربه خرید آنلاین را برای والدین ساده، مطمئن و لذت‌بخش کنیم؛ از
                        انتخاب
                        سایز گرفته تا تحویل سریع درب منزل، همه چیز طوری طراحی شده که شما با خیال راحت خرید کنید و
                        فرزندتان بدرخشد.

                        ما اینجاییم تا بهترین‌ها را برای فرزندتان فراهم کنیم.
                    </p>
                </div>
                <div class="about-image">
                    <img src="/static/image/icons/aboutus.webp" alt="داستان ما">
                </div>
            </div>


            <div class="about-block reverse">
                <div class="about-image">
                    <img src="/static/image/icons/easybuy.webp" alt="ماموریت ما">
                </div>
                <div class="about-text">
                    <h2>خرید آسان و بی‌دغدغه از آتوسا</h2>
                    <p>
                        در فروشگاه آتوسا، راحتی و آرامش شما هنگام خرید برای ما اهمیت بالایی دارد. به همین دلیل تمام
                        بخش‌های
                        فروشگاه طوری طراحی شده‌اند که حتی اگر اولین بار است آنلاین لباس بچگانه می‌خرید، با خیال راحت و
                        بدون نگرانی انتخاب کنید.

                        برای هر محصول، تصاویر باکیفیت و واضح از همه رنگ‌ها و زوایا قرار داده‌ایم تا دقیقاً بدانید چه
                        چیزی دریافت خواهید کرد.

                        کنار هر لباس، راهنمای دقیق سایز و اندازه‌ها بر اساس سن، قد و وزن کودک ارائه شده تا انتخاب درستی
                        داشته باشید — بدون نیاز به حدس زدن یا نگرانی از کوچک یا بزرگ بودن.

                        علاوه بر این، در صفحات محصول، توضیحات کامل، جنس پارچه، کاربرد و نکات شست‌وشو هم آورده شده تا همه
                        چیز شفاف و قابل اعتماد باشد.

                        با آتوسا، خرید لباس کودک دیگر وقت‌گیر و استرس‌زا نیست. فقط ببینید، انتخاب کنید، و مطمئن باشید که
                        بهترین انتخاب را انجام داده‌اید.
                    </p>
                </div>
            </div>


            <div class="about-block">
                <div class="about-text">
                    <h2>پشتیبانی ۲۴ ساعته، همیشه همراه شما</h2>
                    <p>
                        در فروشگاه آتوسا تنها نیستید؛ ما ۷ روز هفته، ۲۴ ساعته کنار شماییم تا تجربه‌ای مطمئن و
                        دلگرم‌کننده از خرید داشته باشید.

                        چه در انتخاب لباس و سایز سوالی داشته باشید، چه در روند خرید و پرداخت یا حتی پس از سفارش، تیم
                        پشتیبانی ما با پاسخ‌گویی سریع، دلسوزانه و حرفه‌ای آماده کمک به شماست.

                        می‌تونید از طریق ثبت تیکت داخل سایت یا پیام به ما در شبکه‌های اجتماعی با مشاوران آتوسا در ارتباط
                        باشید و مطمئن باشید که پاسخ‌تان را در کوتاه‌ترین زمان ممکن دریافت خواهید کرد.

                        با آتوسا، پشتیبانی فقط یک شعار نیست یه همراهیه واقعیه.


                    </p>
                    <a href="{% url 'contact_us_page' %}" class="about-btn">تماس با ما</a>
                </div>
                <div class="about-image">
                    <img src="/static/image/icons/gback.webp" alt="تیم ما">
                </div>
            </div>

        </section>
    </div>
{% endblock %}