{% extends 'base/index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href={% static "css/aboutandcontactus.css" %}>{% endblock %}
{% block title %}
    تماس با ما | فروشگاه لباس بچه آتوسا
{% endblock %}

{% block meta %}
    <meta name="description"
          content="برای هرگونه سوال، مشاوره خرید یا پشتیبانی، از طریق راه‌های تماس فروشگاه لباس بچه آتوسا با ما در ارتباط باشید. پشتیبانی حرفه‌ای و پاسخگویی سریع.">
    <meta name="keywords"
          content="تماس با ما, پشتیبانی فروشگاه لباس, فروشگاه لباس بچه, ارتباط با آتوسا, شماره تماس, تیکت پشتیبانی">
{% endblock %}

{% block og_title %}تماس با ما - فروشگاه لباس آتوسا{% endblock %}
{% block og_description %}برای سوالات و پشتیبانی فروشگاه لباس بچه آتوسا، راه‌های ارتباطی متنوع و سریع را اینجا پیدا
    کنید.{% endblock %}
{% block og_image %}/static/image/contact.jpg{% endblock %}

{% block twitter_title %}تماس با ما | آتوسا{% endblock %}
{% block twitter_description %}ارتباط سریع و راحت با تیم پشتیبانی فروشگاه لباس بچه آتوسا از طریق تماس تلفنی، تلگرام،
    واتساپ و ارسال تیکت.{% endblock %}
{% block twitter_image %}/static/image/contact.jpg{% endblock %}

{% block content %}
    <div id="about-us-container">
        <section class="contact-section">
            <div class="container">
                <div class="contact-content">

                    <!-- عکس در کنار متن -->
                    <div class="contact-image-side">
                        <img src="/static/image/icons/gback.webp" alt="پشتیبانی کودک"/>
                    </div>

                    <div class="contact-text">
                        <h1>تماس با ما</h1>

                        <p>
                            پشتیبانی در سایت ما فقط یک شعار نیست، یک تعهده.
                            از لحظه‌ای که وارد سایت ما می‌شوید، تا انتخاب، خرید، و حتی پس از آن، ما همراه شماییم.
                            چه سوالی درباره محصول داشته باشید، چه راهنمایی در روند خرید یا حتی نیاز به پشتیبانی بعد از
                            تحویل کالا، تیم ما همیشه آماده پاسخ‌گویی است.
                            ما باور داریم که تجربه خرید خوب، بدون پشتیبانی سریع و دقیق ممکن نیست؛ به همین دلیل پاسخ به
                            سوالات و دغدغه‌های شما در سریع‌ترین زمان، اولویت ماست.
                            پشتیبانی ۲۴ ساعته، ۷ روز هفته، نه یک ویژگی اضافه، بلکه بخشی از فرهنگ کاری ماست.
                            با خیال راحت خرید کنید، ما همیشه کنارتان هستیم
                        </p>

                        <div class="feature-item">
                            <img src="/static/image/icons/24-hours-svgrepo-com.svg" alt="پشتیبانی عالی"/>
                            <p>پشتیبانی حرفه‌ای </p>
                        </div>

                        <div id="tel-wh">
                            <a id="tel-w" href="{% url 'contact_page' %}">ارسال تیکت به پشتیبانی سایت
                                <img src="/static/image/icons/letter.svg" alt="ارسال تیکت">
                            </a>
                            <a href="tg://resolve?domain=atousa_1403"
                               onclick="setTimeout(() => { window.location.href = 'https://t.me/atousa_1403'; }, 500);"
                               target="_blank">پشتیبانی تلگرام
                                <img src="/static/image/icons/telegram.svg" alt="تلگرام">
                            </a>
                            <a href="whatsapp://send?phone=989212385127"
                               onclick="setTimeout(() => { window.location.href = 'https://wa.me/989123456789'; }, 500);"
                               target="_blank">پشتیبانی واتساپ
                                <img src="/static/image/icons/whatsapp.svg" alt="واتساپ">
                            </a>
                        </div>

                        <p class="support-note">ما همیشه در کنار شما هستیم 💬</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}